# Copyright (c) 2024 J. Westley
# SPDX-License-Identifier: MIT

if SHIELD_NO_ARROWS

config ZMK_KEYBOARD_NAME
    default "Arrows are for Chumps!"
config USB_DEVICE_MANUFACTURER
    default "ZMK Project"
config ZMK_RGB_UNDERGLOW_EFF_START
    int "RGB underglow start effect int value related to the effect enum list"
    range 0 3
    default 2

endif
